#nav-cont{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    justify-content: center;
    background-color: lightgray;
    height: min-content;
    padding:0.75rem;
}

#nav-titel{
    white-space: nowrap;
    font-size: 2rem;
    font-weight: bold;
    text-decoration: none;
    color: black;
}

#link-cont{
    display: flex;
    justify-content: center;
    gap: 0.75rem;
}

.nav-lnk{
    text-decoration: none;
    font-size: 1.25rem;
    color: black;
}