<template>
    <nav class="navbar navbar-expand-md navbar-light" style="background-color: #e3f2fd;">
        <div class="container-fluid">
          <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#topnav"
            aria-controls="topnav"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="topnav">
            <ul
              class="navbar-nav container px-1 d-flex flex-md-row mb-2 mb-md-0 gap-3 gap-md-0 flex-column align-items-md-center justify-content-md-between"
            >
              <li class="nav-item">
                <a class="nav-link" aria-current="page" data-navigo href="/"
                  >Home
                </a>
              </li>
              <div class="d-flex flex-column w-50 position-relative">
                <div id="link-cont">
                    <a class="nav-link" href="/#/page-one">Page 1</a>
                    <a class="nav-link" href="/#/page-two">Page 2</a>
                </div>
              </div>
              <div class="d-flex flex-row" id="nav-buttons"></div>
            </ul>
          </div>
        </div>
      </nav>
</template>